.header__burger {
   position: absolute;
   top: 1.5rem;
   right: 5rem;
   display: none;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 3rem;
   height: 3rem;
   cursor: pointer;
   z-index: 100;

   @include responsive(tab-land) {
      display: flex;
   }

   &-line {
      width: 100%;
      height: 0.2rem;
      background-color: $color-light;
   }
}
