.footer {
   padding-top: 10rem;
   &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding: 10rem 0;
      margin: 0 10rem;
      border-bottom: 2px solid $color-light-grey;

      @include responsive(tab-land) {
         flex-direction: column;
         justify-content: center;
         padding: 5rem 0;
         margin: 0 5rem;
      }

      &-links {
         display: flex;
         justify-content: space-between;
         align-items: center;
         height: 100%;

         & > *:not(:last-child) {
            margin-right: 7rem;
         }

         &-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: stretch;

            & a {
               font-size: 1.3rem;
               text-decoration: none;
               color: $color-primary-dark;

               &:not(:last-child) {
                  margin-bottom: 2rem;
               }
            }
         }
      }
      
      &-title {
         align-self: flex-start;
         font-size: 2rem;

         @include responsive(tiny-phone) {
            display: none;
         }
      }

      &-newsletter {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: center;
         height: 100%;

         @include responsive(tab-land) {
            margin-top: 10rem;
            align-items: center;
         }

         &-title {
            font-size: 2rem;
            align-items: flex-start;
            margin-bottom: 2rem;
         }
         &-form {
            @include responsive(tab-land) {
               display: flex;
               flex-direction: column;
            }
            & input {
               margin-bottom: 2rem;
               width: 35rem;
            }
            & button {
               display: block;
            }
         }
      }
   }

   &__legal {
      margin: 0 10rem;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 2rem 0;

      @include responsive(tab-land) {
         flex-direction: column;

         & > * {
            padding: 2rem 0;
         }
      }

      & a {
         font-size: 1.3rem;
         text-decoration: none;
         color: $color-primary-dark;
      }

      &-terms {
         margin-right: auto;
         @include responsive(tab-land) {
            margin: 0;
         }
      }

      &-copy {
         margin-right: 2rem;
         @include responsive(tab-land) {
            margin: 0;
         }
      }

      &-terms,
      &-cookies {
         & > *:not(:last-child) {
            margin-right: 2rem;
         }
      }
   }
}
